/* color del body */
body{
    background-color:  #E1E1E1;
}

/* tamaño del nombre de la marca */

.navbar-brand{
    font-size: 4rem;
}
/* TITULO FAQS */

.titulo-faqs{
    font-size: 3rem;
}
/* MEDIAQUERIE PARA PRODUCTOS */
@media screen and (max-width:787px){
    .imagenes-index{
        flex-direction: column;
        align-items: center;
    }
    
    .rowProductos{
        flex-direction: column;
        align-items: center;

    }
   .row-faqs{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .row-faqs h2{
       justify-content: center;
   }
   
}



